body {
	font-family: 'Poppins', sans-serif;
    }
header .carousel-inner .item {
	height: 100vh;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #74de49;;
	font-size: 20px;
	padding: 40px 15px;
	font-weight: 700;
}
.nav.navbar-nav.navbar-right {
	margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
	color:#ebb411;
	text-transform: uppercase;
    cursor: pointer;
    border-radius: 0px;
    padding: auto;
 
}
.navbar-inverse .navbar-nav>li>a :hover{
	color:#EDBB00;
	text-transform: uppercase;
    cursor: pointer;
    border-radius: 0px;
    padding: auto;}

.navbar-brand strong{
  font-size: 35px;
  
}


.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}
.carousel-caption {
	padding-bottom: 250px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h3 span {

}
.carousel-caption a {
	background: #EDBB00;
    cursor: pointer;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
.carousel-caption strong{
  font-size: 60px;
    color: #fa0814;
}
.carousel-caption h3{
  font-size: 45px;
}

.row1 a {
	background: #EDBB00;
    cursor: pointer;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
.row1 strong{
  color:#0ceda5;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 70px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 20px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}
	.carousel-caption h2 {
		font-size: 30px;
	}
	.carousel-caption h3 {
		font-size: 22px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}

/*donate*/
.donatebox
{
  background-color: rgb(0,0,0,0.6);
  border-radius: 20px;
  padding: 1%;
  text-align: center;
  color: #fff;
  margin: 10%;
  background-image:  no-repeat;
}
.donatebox h1
{
  text-align: center;
  font-size: 200%;
}
.donatebox .fa-user
{
  margin-bottom: 3px;
}





/*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
  
  
  .container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .wrap-contact100 {
    width: 85%;
    height: 80vh;
   
    padding-top: 0vh;;
   
    background: rgb(0,0,0,0.6);
    border-radius: 5px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
  }
  
  /*------------------------------------------------------------------*/
  .contact100-pic {
    width: 370px;
    padding-top: 55px;
  
  }
  
  .contact100-pic img {
    max-width: 100%;
    background-repeat: no-repeat;
  }
  
  
  /*------------------------------------------------------------------*/
  .contact100-form {
    width: 390px;
  }
  
  .contact100-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: rgb(92, 118, 159);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 36px;
  }
  
  input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
  }
  
  input.input100[name="email"] {
    padding: 0 30px 0 54px;
  }
  
  textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color:  #EDBB00;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 20px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 20px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #EDBB00;
    padding-left: 22px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #EDBB00;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background: #333333;
  }
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 1200px) {
    .contact100-pic {
      width: 33.5%;
    }
  
    .contact100-form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .wrap-contact100 {
      padding: 90px 60px 107px 66px;
      padding-top: 0%;
      margin-top: 0%;
      
    }
  
    .contact100-pic {
      width: 35%;
    }
  
    .contact100-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-contact100 {
      padding: 110px 80px 157px 80px;
    }
  
    .contact100-pic {
      display: none;
    }
  
    .contact100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-contact100 {
      padding: 110px 15px 157px 15px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  /* ----blog---- */
    main .blog {
      background: url('./img/Bg.jpg');
      background-repeat: no-repeat;
      background-position: 500px,right;
      height: 100vh;
      width: 90%;
      background-size: 85%;
     
    }
        
        
  
    main .blog .blog-post {
      padding-top: 6rem;
    }
  
    main .blog-post .blog-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 23%;
      margin: 3rem 2rem;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    }
  
    main .blog-content .blog-title {
      padding: 2rem 0;
    }
  
    main .blog-content .btn-blog {
      padding: .7rem 2rem;
      background: var(--sky);
      margin: .5rem;
    }
    
    main .blog-content span {
      display: block;
    }
   
 
  
    section .container .owl-nav {
      position: absolute;
      top: 0%;
      margin: 0 auto;
      width: 100%;
    }
  
    .owl-nav .owl-prev .owl-nav-prev,
    .owl-nav .owl-next .owl-nav-next {
      color: var(--text-gray);
      background: transparent;
      font-size: 2rem;
    }
  
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: transparent;
      color: var(--midnight);
    }
  
    .owl-theme .owl-nav [class*='owl-'] {
      outline: none;
    }